@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,500;1,700;1,800;1,900&display=swap')

// font size: 12, 14, 16, 18, 20, 24, 30, 36, 48, 60, 72px
// font weigth: 400 | 400 / 500 | 600 / 700
// line length: 20 35em
// space: 4, 8, 12, 16, 24, 32, 48, 64, 96, 128, 192, 256, 384, 512, 640, 768px
// 000F08 - Dark Jungle Green
// 1C3738 - Outer Space (Crayola)
// 4D4847 - Dark Liver
// F4FFF8 - Mint Cream
// 8BAAAD - Pewter Blue

//  single shadow:
//    0 1px 3px hsla(0, 0%, .2);
//    0 4px 6px hsla(0, 0%, .2);
//    0 5px 15px hsla(0, 0%, .2);
//    0 10px 24px hsla(0, 0%, .2);
//    0 15px 35px hsla(0, 0%, .2);

//    raise top example: box-shadow: inset 0 1px 0 hsl(224, 84%, 74%);
//    raise bot example: box-shadow: 0 1px 3px hsla(0, 0%, 0%, .2);

//  double shadows:
//    0 1px 3px hsla(0, 0%, .12);
//    0 1px 2px hsla(0, 0%, .24);

//    0 3px 6px hsla(0, 0%, .15);
//    0 2px 4px hsla(0, 0%, .12);

//    0 10px 20px hsla(0, 0%, .15);
//    0 3px 6px hsla(0, 0%, .10);

//    0 15px 25px hsla(0, 0%, .15);
//    0 5px 10px hsla(0, 0%, .5);

//    0 20px 40px hsla(0, 0%, .2);

$font-main: 'Alegreya', serif
$color-grey_100: hsla(152, 0%, 97%, 1)
$color-grey_200: hsla(152, 0%, 87%, 1)
$color-grey_300: hsla(152, 0%, 75%, 1)
$color-grey_400: hsla(152, 0%, 62%, 1)
$color-grey_500: hsla(152, 0%, 50%, 1)
$color-grey_600: hsla(152, 0%, 37%, 1)
$color-grey_700: hsla(152, 0%, 25%, 1)
$color-grey_800: hsla(152, 0%, 14%, 1)
$color-grey_900: hsla(152, 0%, 3%, 1)
$color-prime_100: hsla(152, 100%, 97%, 1)
$color-prime_200: hsla(152, 100%, 87%, 1)
$color-prime_300: hsla(152, 100%, 75%, 1)
$color-prime_400: hsla(152, 100%, 62%, 1)
$color-prime_500: hsla(152, 100%, 50%, 1)
$color-prime_600: hsla(152, 100%, 37%, 1)
$color-prime_700: hsla(152, 100%, 25%, 1)
$color-prime_800: hsla(152, 100%, 14%, 1)
$color-prime_900: hsla(152, 100%, 3%, 1)
$color-accent1_100: hsla(180, 33%, 84%, 1)
$color-accent1_200: hsla(182, 33%, 75%, 1)
$color-accent1_300: hsla(184, 33%, 67%, 1)
$color-accent1_400: hsla(187, 33%, 59%, 1)
$color-accent1_500: hsla(190, 33%, 50%, 1)
$color-accent1_600: hsla(187, 33%, 41%, 1)
$color-accent1_700: hsla(184, 33%, 33%, 1)
$color-accent1_800: hsla(182, 33%, 25%, 1)
$color-accent1_900: hsla(180, 33%, 16%, 1)
$color-accent2_100: hsla(5, 64%, 78%, 1)
$color-accent2_200: hsla(5, 64%, 71%, 1)
$color-accent2_300: hsla(5, 64%, 64%, 1)
$color-accent2_400: hsla(5, 64%, 57%, 1)
$color-accent2_500: hsla(5, 64%, 50%, 1)
$color-accent2_600: hsla(5, 64%, 43%, 1)
$color-accent2_700: hsla(5, 64%, 36%, 1)
$color-accent2_800: hsla(5, 64%, 29%, 1)
$color-accent2_900: hsla(5, 64%, 22%, 1)
$color-accent3_100: hsla(185, 32%, 72%, 1)
$color-accent3_200: hsla(185, 25%, 66%, 1)
$color-accent3_300: hsla(185, 17%, 61%, 1)
$color-accent3_400: hsla(185, 17%, 55%, 1)
$color-accent3_500: hsla(185, 17%, 50%, 1)
$color-accent3_600: hsla(185, 17%, 44%, 1)
$color-accent3_700: hsla(185, 17%, 39%, 1)
$color-accent3_800: hsla(185, 25%, 33%, 1)
$color-accent3_900: hsla(185, 32%, 28%, 1)

=feedback($feedback-width)
  font-size: 12px
  color: $color-accent2_800
  display: flex
  justify-content: center
  flex-direction: column
  border-radius: 4px
  background-color: $color-accent2_100

  span
    width: $feedback-width

*
  box-sizing: border-box
  font-family: $font-main

body
  margin: 0

div.main
  background-color: $color-grey_100
  width: 100%
  min-height: 100vh
  display: flex
  flex-direction: column
  align-items: center
  overflow: hidden

// landing
div.landing
  width: 100%
  display: flex
  flex-direction: column
  align-items: center

  &-logo
    height: 120px
    width: 120px
    margin-top: 48px
    display: flex
    justify-content: center
    align-items: center
    position: relative

    &__circle
      width: 120px
      height: 120px
      background-color: $color-prime_800
      border-radius: 100%
      position: relative

      > div
        background-color: $color-grey_100
        position: absolute

    &__head
      width: 14.4px
      height: 10.8px
      left: 52.8px
      top: 13.2px
      border-radius: 100%

    &__handle
      width: 14.4px
      height: 0
      left: 52.8px
      top: 22.2px
      background-color: $color-prime_800
      border-bottom: 43.2px solid $color-grey_100
      border-left: 1.8px solid $color-prime_800
      border-right: 1.8px solid $color-prime_800

    &__guard__left,
    &__guard__right
      width: 26px
      height: 8px
      top: 60.8px

    &__guard__left
      left: 30px
      transform: rotate(-20deg)

    &__guard__right
      left: 64px
      transform: rotate(20deg)

    &__blade
      height: 48px
      width: 18px
      left: 51px
      top: 72px

    &__shade__left,
    &__shade__right
      width: 50px
      height: 50px
      border-radius: 100%
      top: 65px

    div.shade
      background-color: $color-prime_800

    &__shade__left
      left: 25.2px

    &__shade__right
      left: 44.8px

  &-title
    height: 50px
    width: 200px
    margin-top: 24px

    &__main
      font-size: 36px
      font-weight: 500
      color: $color-prime_900
      display: flex
      justify-content: center

    &__secondary
      font-size: 14px
      color: $color-prime_900
      display: flex
      justify-content: center

  &-action
    width: 200px
    margin-top: 48px

    > div
      position: relative
      width: 200px

    &__container
      button:first-child
        margin-top: 48px
        border-radius: 4px

      button:nth-child(2)
        margin-top: 24px
        border-radius: 4px

    input
      border: none
      border-bottom: 1px solid $color-prime_800
      width: 184px
      padding: 8px 8px 8px 4px
      margin-left: 8px
      background-color: $color-grey_100

      &:focus
        outline: none

      &:focus ~ label,
      &:valid ~ label
        top: -12px
        font-size: 14px
        font-weight: 500
        color: $color-prime_700

    .bar
      position: relative
      display: block
      width: 184px

      &:before
        content: ''
        position: absolute
        height: 2px
        bottom: 0px
        background: $color-prime_700
        width: 0
        transition:0.2s ease all

      &:before
        left: 8px


    input:focus ~ .bar:before
      width: 100%

    label
      color: $color-grey_500
      position: absolute
      left: 12px
      top: 8px
      pointer-events: none
      transition: 0.2s ease all

    &__userName
      margin-bottom: 16px

    &__password
      margin-bottom: 8px

    &__forgetPwd
      margin-bottom: 12px

    &__login
      margin-bottom: 12px

    &__feedback
      @include feedback($feedback-width: 184px)
      margin-bottom: 8px

      span
        padding: 4px 8px 4px 8px

    &__forgetPwd
      font-size: 12px
      display: flex
      justify-content: flex-end
      padding-right: 8px

      a
        color: $color-accent1_700
        text-decoration: none

    button
      width: 184px
      margin-left: 8px
      background-color: $color-prime_800
      border: none
      color: $color-prime_100
      height: 40px
      border-top: solid 2px $color-prime_700
      border-bottom: solid 2px $color-prime_900
      border-radius: 4px

      &:focus
        outline: none
        border-top: solid 0px $color-prime_700
        border-bottom: solid 0px $color-prime_900

    &__signUpLink
      font-size: 14px
      display: flex
      justify-content: center

      a,
      span
        color: $color-accent1_500
        text-decoration: none

      .left
        margin-right: 48px

      .right
        font-weight: 500

.signup-container
  width: 224px
  height: 440px
  background-color: $color-grey_100
  margin-top: 48px
  display: flex
  flex-direction: column
  align-items: center
  // justify-content: center
  // border-radius: 8px

  .signup-container__username,
  .signup-container__email,
  .signup-container__password
    display: flex
    margin-top: 24px
    flex-wrap: wrap

  .signup-container
    &__title
      color: $color-prime_900
      font-size: 30px
      margin-bottom: 16px

    &__left
      margin: 0 24px 0 0
      width: 66px
      font-size: 14px

    &__right
      display: flex
      flex-direction: column

      .signup__input
        position: relative

        i
          position: absolute
          right: 3px
          top: 3px

          &.fa-check-circle
            color: $color-prime_700

          &.fa-times-circle
            color: $color-accent2_500

      input
        width: 134px
        border-style: solid
        border-color: $color-grey_300
        border-radius: 4px
        background-color: $color-prime_100
        transition: 0.2s ease all
        padding-right: 20px

        &:focus
          outline: none
          border-color: $color-prime_700

    &__feedback
      @include feedback($feedback-width: 224px)
      margin: 8px 0 0 0

      span
        padding: 4px 8px

    &__submit
      margin-top: 24px

      button
        width: 146px
        background-color: $color-prime_800
        border: none
        color: $color-prime_100
        height: 40px
        border-top: solid 2px $color-prime_700
        border-bottom: solid 2px $color-prime_900
        border-radius: 4px

        &:focus
          outline: none
          border-top: solid 0px $color-prime_700
          border-bottom: solid 0px $color-prime_900

    &__loginLink
      margin-top: 16px
      font-size: 14px
      display: flex
      justify-content: center

      a,
      span
        color: $color-accent1_500
        text-decoration: none

.main-page
  width: 100%
  min-height: 100vh
  background: url('../images/background-forest.jpg') no-repeat
  background-size: cover
  display: flex
  flex-direction: column
  align-items: center

  .main-title
    color: $color-prime_100
    font-size: 30px
    font-weight: 600
    margin: 12px  0 8px 0

  .main-menu
    display: flex
    color: $color-prime_200
    width: 210px
    margin-bottom: 12px
    font-size: 14px

    .bar
      position: relative
      display: block

      &:before
        content: ''
        position: absolute
        width: 0
        height: 1px
        background-color: $color-prime_200
        transition: 0.2s ease all

    > div
      opacity: 0.6
      position: relative
      cursor: pointer

      &:hover
        opacity: 1

        .bar:before
          width: 100%

    &__game
      margin:0 16px 0 12px

    &__resource
      margin-right: 12px

  .main-container
    width: 210px
    height: 441px
    background-color: $color-prime_100
    border-radius: 5px
    overflow-y: scroll

    .sub-title
      font-weight: 600
      margin: 8px 0 0 16px
      color: $color-prime_900

    &__game__content__newBlock
      border: 2px dashed $color-grey_500
      margin: 8px 0 0 16px
      height: 64px
      width: 64px
      display: flex
      justify-content: center
      align-items: center
      border-radius: 10px
      color: $color-grey_500
      font-size: 30px
      position: relative

      &:hover
        color: $color-accent1_500
        border-color: $color-accent1_500
        cursor: pointer

        .game-tag
          color: $color-accent1_500
          cursor: pointer

    .game-tag
      font-size: 12px
      width: 64px
      display: flex
      justify-content: center
      color: $color-grey_900
      position: absolute
      top: 72px

    &__newGame
      position: relative

      &__backLink
        position: absolute
        right: 16px
        display: flex
        flex-direction: column
        align-items: center
        top: 0

        i
          font-size: 24px
          color: $color-prime_900
          cursor: pointer

          &:hover
            color: $color-accent1_500

      &__content
        &__form
          display: flex
          flex-direction: column

          .divider
            height: 2px
            border-radius: 2px
            background-color: $color-grey_300
            margin: 16px 16px 0 16px

          .subtitle
            margin: 8px 0 8px 16px

          .input__container
            display: flex
            flex-direction: column

            >div
              display: flex
              margin: 4px 0 0 0

            &__left
              margin: 0 0 0 16px
              width: 68px
              font-size: 14px

            &__right
              input
                width: 110px

                &[type="text"]
                  border-style: solid
                  border-color: $color-grey_300
                  border-radius: 4px
                  width: 110px
                  background-color: $color-prime_100
                  transition: 0.2s ease all

                  &:focus
                    outline: none
                    border-color: $color-prime_700

          .stats-input__container
            .input__container__right
              display: flex
              width: 110px
              justify-content: space-evenly
              flex-wrap: wrap

              input
                width: 0
                height: 0
                margin: 0

              label
                font-size: 14px
                width: 30px
                height: 30px
                background-color: $color-prime_200
                text-align: center
                padding-top: 4px
                border-radius: 100%
                cursor: pointer
                transition: all 300ms linear
                position: relative
                z-index: 1
                border: 1px solid $color-prime_300

                &::before
                  background-image: linear-gradient(298deg, $color-prime_500, $color-accent1_600)
                  content: ''
                  width: 100%
                  height: 100%
                  position: absolute
                  top: 0
                  left: 0
                  z-index: -1
                  border-radius: 100%
                  transition: all 300ms linear

              input:checked + label
                background-color: transparent
                color: $color-prime_100
                font-weight: 500

              input:not(:checked) + label::before
                opacity: 0

          .vows-input__container__name ~ .vows-input__container__name
            margin-top: 32px

          .vows-input__container__rank

            > div
              margin-top: 4px

            .input__container__right
              display: flex
              flex-direction: column
              width: 110px
              align-items: center

              input
                width: 0
                height: 0

              label
                font-size: 12px
                width: 100px
                height: 60px
                background-color: $color-prime_200
                text-align: center
                padding: 22px 0
                border-radius: 4px
                cursor: pointer
                text-transform: uppercase
                transition: all 300ms linear
                position: relative
                z-index: 1
                border: 1px solid $color-prime_300

                &::before
                  background-image: linear-gradient(298deg, $color-prime_500, $color-accent1_600)
                  content: ''
                  width: 100%
                  height: 100%
                  position: absolute
                  top: 0
                  left: 0
                  z-index: -1
                  border-radius: 3px
                  transition: all 300ms linear

              input:checked + label
                background-color: transparent
                color: $color-prime_100
                font-weight: 500

              input:not(:checked) + label::before
                opacity: 0

        .newGame__feedback
          @include feedback($feedback-width: 110px)
          margin: 8px 0 12px 0

          span
            padding: 4px

        &__confirm
          margin-bottom: 24px

          button
            width: 146px
            margin: 24px 0 0 32px
            background-color: $color-prime_800
            border: none
            color: $color-prime_100
            height: 40px
            border-top: solid 2px $color-prime_700
            border-bottom: solid 2px $color-prime_900
            border-radius: 4px

            &:focus
              outline: none
              border-top: solid 0px $color-prime_700
              border-bottom: solid 0px $color-prime_900

    // space: 4, 8, 12, 16, 24, 32, 48px
    // font size: 12, 14, 16, 18, 20, 24, 30, 36, 48, 60, 72px
    &__character
      display: flex
      flex-wrap: wrap

      .width-1-1
        width: 194px

      .width-2-3
        width: 124px

      .width-1-3
        width: 54px

      .width-2-4
        width: 97px

      .width-1-4
        width: 48.5px

      .width-3-5
        width: 118px

      .width-1-5
        width: 34px

      .label,
      .bondName,
      .vowRank
        font-size: 12px

      .vowName
        font-size: 16px

      .content
        font-size: 18px

      .height-half
        height: 25px

      .height-single
        height: 40px

      .height-single-half
        height: 60px

      .height-3-4
        height: 30px

      .height-double-half
        height: 100px

      .height-double
        height: 80px

      .height-vows-container
        height: 635px

      .height-deb-container
        height: 290px

      >div
        overflow-y: hidden
        margin: 8px
        display: flex
        justify-content: center
        align-items: center

      &__name
        font-size: 20px

      &__exp
        flex-direction: column

      &__5stats,
      &__status,
      &__momentum
        >div
          display: flex
          flex-direction: column
          justify-content: center
          align-items: center
          margin: 0 4px

      &__bonds,
      &__vows,
      &__debilities
        display: flex
        flex-wrap: wrap

      &__bonds
        overflow: hidden

        .title
          font-size: 18px

        >div
          display: flex
          justify-content: center
          align-items: center

        .score
          flex-direction: column

        .counter
          display: flex
          justify-content: center
          align-items: center
          flex-direction: column

          &-container
            display: flex
            justify-content: space-evenly
            align-items: center

          &-block
            height: 25px
            width: 25px
            border: solid 2px $color-prime_900
            position: relative

            &__square
              height: 42%
              width: 42%
              background-color: $color-prime_900
              position: absolute

            .square-1
              top: 6%
              left: 6%

            .square-2
              top: 6%
              right: 4%

            .square-3
              bottom: 4%
              left: 6%

            .square-4
              bottom: 4%
              right: 4%

      &__vows
        overflow: hidden

        .title
          font-size: 18px

        >div
          display: flex
          justify-content: center
          align-items: center

        .score
          flex-direction: column

        .vow
          flex-wrap: wrap
          margin-top: 4px

          >div
            display: flex
            justify-content: center
            align-items: center

          .progress
            flex-direction: column

          .counter
            display: flex
            justify-content: center
            align-items: center
            flex-direction: column

            &-container
              display: flex
              justify-content: space-evenly
              align-items: center

            &-block
              height: 25px
              width: 25px
              border: solid 2px $color-prime_900
              position: relative

              &__square
                height: 42%
                width: 42%
                background-color: $color-prime_900
                position: absolute

              .square-1
                top: 5%
                left: 6%

              .square-2
                top: 5%
                right: 4%

              .square-3
                bottom: 5%
                left: 6%

              .square-4
                bottom: 5%
                right: 4%

      &__debilities
        overflow: hidden

        .title
          font-size: 18px

        .title-s
          font-size: 14px
          padding-left: 12px

        .title,
        .expand,
        .score
          display: flex
          justify-content: center
          align-items: center

        .score
          flex-direction: column

        .radio-container
          display: flex
          justify-content: space-evenly
          flex-wrap: wrap

          input
            width: 0
            height: 0
            margin: 0

          label
            font-size: 12px
            width: 80px
            height: 30px
            background-color: $color-prime_200
            text-align: center
            padding-top: 4px
            border-radius: 4px
            cursor: pointer
            transition: all 300ms linear
            position: relative
            z-index: 1
            border: 1px solid $color-prime_300

            &::before
              background-image: linear-gradient(298deg, $color-prime_500, $color-accent1_600)
              content: ''
              width: 100%
              height: 100%
              position: absolute
              top: 0
              left: 0
              z-index: -1
              border-radius: 4px
              transition: all 300ms linear

          input:checked + label
            background-color: transparent
            color: $color-prime_100
            font-weight: 500

          input:not(:checked) + label::before
            opacity: 0

      &__actions
        display: flex
        justify-content: space-evenly

        >div
          display: flex
          flex-direction: column
          justify-content: space-evenly
          align-items: center

.hide
  display: none
