@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,500;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  font-family: "Alegreya", serif;
}

div.main {
  background-color: #f7f7f7;
  width: 100vw;
  min-height: 100vh;
}

div.landing {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
div.landing-logo {
  height: 120px;
  width: 120px;
  margin-top: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
div.landing-logo__circle {
  width: 120px;
  height: 120px;
  background-color: #004726;
  border-radius: 100%;
  position: relative;
}
div.landing-logo__circle > div {
  background-color: #f7f7f7;
  position: absolute;
}
div.landing-logo__head {
  width: 14.4px;
  height: 10.8px;
  left: 52.8px;
  top: 13.2px;
  border-radius: 100%;
}
div.landing-logo__handle {
  width: 14.4px;
  height: 0;
  left: 52.8px;
  top: 22.2px;
  background-color: #004726;
  border-bottom: 43.2px solid #f7f7f7;
  border-left: 1.8px solid #004726;
  border-right: 1.8px solid #004726;
}
div.landing-logo__guard__left, div.landing-logo__guard__right {
  width: 26px;
  height: 8px;
  top: 60.8px;
}
div.landing-logo__guard__left {
  left: 30px;
  transform: rotate(-20deg);
}
div.landing-logo__guard__right {
  left: 64px;
  transform: rotate(20deg);
}
div.landing-logo__blade {
  height: 48px;
  width: 18px;
  left: 51px;
  top: 72px;
}
div.landing-logo__shade__left, div.landing-logo__shade__right {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  top: 65px;
}
div.landing-logo div.shade {
  background-color: #004726;
}
div.landing-logo__shade__left {
  left: 25.2px;
}
div.landing-logo__shade__right {
  left: 44.8px;
}
div.landing-title {
  height: 50px;
  width: 200px;
  margin-top: 24px;
}
div.landing-title__main {
  font-size: 36px;
  font-weight: 500;
  color: #000f08;
  display: flex;
  justify-content: center;
}
div.landing-title__secondary {
  font-size: 14px;
  color: #000f08;
  display: flex;
  justify-content: center;
}
div.landing-action {
  width: 200px;
  margin-top: 48px;
}
div.landing-action > div {
  position: relative;
  margin-bottom: 16px;
  width: 200px;
}
div.landing-action input {
  border: none;
  border-bottom: 1px solid #008044;
  width: 184px;
  padding: 8px 8px 8px 4px;
  margin-left: 8px;
  background-color: #f7f7f7;
}
div.landing-action input:focus {
  outline: none;
}
div.landing-action input:focus ~ label, div.landing-action input:valid ~ label {
  top: -16px;
  font-size: 14px;
  font-weight: 500;
  color: #008044;
}
div.landing-action label {
  color: gray;
  position: absolute;
  left: 12px;
  top: 8px;
  pointer-events: none;
  transition: 0.2s ease all;
}
div.landing-action__forgetPwd {
  font-size: 12px;
  display: flex;
  justify-content: flex-end;
  padding-right: 8px;
}
div.landing-action button {
  width: 184px;
  margin-left: 8px;
  background-color: #004726;
  border: none;
  color: #f0fff8;
  height: 32px;
}
div.landing-action__signUpLink {
  font-size: 12px;
  display: flex;
  justify-content: center;
}

/*# sourceMappingURL=styles.css.map */
