@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,500;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  font-family: "Alegreya", serif;
}

body {
  margin: 0;
}

div.main {
  background-color: #f7f7f7;
  width: 100%;
  min-height: 100vh;
}

div.landing {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
div.landing-logo {
  height: 120px;
  width: 120px;
  margin-top: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
div.landing-logo__circle {
  width: 120px;
  height: 120px;
  background-color: #004726;
  border-radius: 100%;
  position: relative;
}
div.landing-logo__circle > div {
  background-color: #f7f7f7;
  position: absolute;
}
div.landing-logo__head {
  width: 14.4px;
  height: 10.8px;
  left: 52.8px;
  top: 13.2px;
  border-radius: 100%;
}
div.landing-logo__handle {
  width: 14.4px;
  height: 0;
  left: 52.8px;
  top: 22.2px;
  background-color: #004726;
  border-bottom: 43.2px solid #f7f7f7;
  border-left: 1.8px solid #004726;
  border-right: 1.8px solid #004726;
}
div.landing-logo__guard__left, div.landing-logo__guard__right {
  width: 26px;
  height: 8px;
  top: 60.8px;
}
div.landing-logo__guard__left {
  left: 30px;
  transform: rotate(-20deg);
}
div.landing-logo__guard__right {
  left: 64px;
  transform: rotate(20deg);
}
div.landing-logo__blade {
  height: 48px;
  width: 18px;
  left: 51px;
  top: 72px;
}
div.landing-logo__shade__left, div.landing-logo__shade__right {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  top: 65px;
}
div.landing-logo div.shade {
  background-color: #004726;
}
div.landing-logo__shade__left {
  left: 25.2px;
}
div.landing-logo__shade__right {
  left: 44.8px;
}
div.landing-title {
  height: 50px;
  width: 200px;
  margin-top: 24px;
}
div.landing-title__main {
  font-size: 36px;
  font-weight: 500;
  color: #000f08;
  display: flex;
  justify-content: center;
}
div.landing-title__secondary {
  font-size: 14px;
  color: #000f08;
  display: flex;
  justify-content: center;
}
div.landing-action {
  width: 200px;
  margin-top: 48px;
}
div.landing-action > div {
  position: relative;
  width: 200px;
}
div.landing-action__container button:first-child {
  margin-top: 48px;
}
div.landing-action__container button:nth-child(2) {
  margin-top: 24px;
}
div.landing-action input {
  border: none;
  border-bottom: 1px solid #004726;
  width: 184px;
  padding: 8px 8px 8px 4px;
  margin-left: 8px;
  background-color: #f7f7f7;
}
div.landing-action input:focus {
  outline: none;
}
div.landing-action input:focus ~ label, div.landing-action input:valid ~ label {
  top: -12px;
  font-size: 14px;
  font-weight: 500;
  color: #008044;
}
div.landing-action .bar {
  position: relative;
  display: block;
  width: 184px;
}
div.landing-action .bar:before {
  content: "";
  position: absolute;
  height: 2px;
  bottom: 0px;
  background: #008044;
  width: 0;
  transition: 0.2s ease all;
}
div.landing-action .bar:before {
  left: 8px;
}
div.landing-action input:focus ~ .bar:before {
  width: 100%;
}
div.landing-action label {
  color: gray;
  position: absolute;
  left: 12px;
  top: 8px;
  pointer-events: none;
  transition: 0.2s ease all;
}
div.landing-action__userName {
  margin-bottom: 16px;
}
div.landing-action__password {
  margin-bottom: 8px;
}
div.landing-action__feedback {
  margin-bottom: 8px;
}
div.landing-action__forgetPwd {
  margin-bottom: 12px;
}
div.landing-action__login {
  margin-bottom: 12px;
}
div.landing-action__feedback {
  font-size: 12px;
  color: #79231b;
  display: flex;
  justify-content: center;
}
div.landing-action__feedback span {
  background-color: #eba9a3;
  width: 184px;
  padding: 4px 2px 4px 2px;
}
div.landing-action__forgetPwd {
  font-size: 12px;
  display: flex;
  justify-content: flex-end;
  padding-right: 8px;
}
div.landing-action__forgetPwd a {
  color: #386c70;
  text-decoration: none;
}
div.landing-action button {
  width: 184px;
  margin-left: 8px;
  background-color: #004726;
  border: none;
  color: #f0fff8;
  height: 40px;
  border-top: solid 2px #008044;
  border-bottom: solid 2px #000f08;
}
div.landing-action button:focus {
  outline: none;
  border-top: solid 0px #008044;
  border-bottom: solid 0px #000f08;
}
div.landing-action__signUpLink {
  font-size: 14px;
  display: flex;
  justify-content: center;
}
div.landing-action__signUpLink a,
div.landing-action__signUpLink span {
  color: #559caa;
  text-decoration: none;
}
div.landing-action__signUpLink .left {
  margin-right: 48px;
}
div.landing-action__signUpLink .right {
  font-weight: 500;
}

.main-page {
  width: 100%;
  min-height: 100vh;
  background: url("../images/background-forest.jpg") no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-page .main-title {
  color: #f0fff8;
  font-size: 30px;
  font-weight: 600;
  margin: 12px 0 8px 0;
}
.main-page .main-menu {
  display: flex;
  color: #bdffe0;
  width: 210px;
  margin-bottom: 12px;
  font-size: 14px;
}
.main-page .main-menu .bar {
  position: relative;
  display: block;
}
.main-page .main-menu .bar:before {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  background-color: #bdffe0;
  transition: 0.2s ease all;
}
.main-page .main-menu > div {
  opacity: 0.6;
  position: relative;
  cursor: pointer;
}
.main-page .main-menu > div:hover {
  opacity: 1;
}
.main-page .main-menu > div:hover .bar:before {
  width: 100%;
}
.main-page .main-menu__game {
  margin: 0 16px 0 12px;
}
.main-page .main-menu__resource {
  margin-right: 12px;
}
.main-page .main-container {
  width: 210px;
  height: 441px;
  background-color: #f0fff8;
  border-radius: 5px;
  overflow-y: scroll;
}
.main-page .main-container .sub-title {
  font-weight: 600;
  margin: 8px 0 0 16px;
  color: #000f08;
}
.main-page .main-container__game__content__newBlock {
  border: 2px dashed gray;
  margin: 8px 0 0 16px;
  height: 64px;
  width: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: gray;
  font-size: 30px;
  position: relative;
}
.main-page .main-container__game__content__newBlock:hover {
  color: #559caa;
  border-color: #559caa;
  cursor: pointer;
}
.main-page .main-container__game__content__newBlock:hover .game-tag {
  color: #559caa;
  cursor: pointer;
}
.main-page .main-container .game-tag {
  font-size: 12px;
  width: 64px;
  display: flex;
  justify-content: center;
  color: #080808;
  position: absolute;
  top: 72px;
}
.main-page .main-container__newGame {
  position: relative;
}
.main-page .main-container__newGame__backLink {
  position: absolute;
  right: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
}
.main-page .main-container__newGame__backLink i {
  font-size: 24px;
  color: #000f08;
  cursor: pointer;
}
.main-page .main-container__newGame__backLink i:hover {
  color: #559caa;
}
.main-page .main-container__newGame__content__form {
  display: flex;
  flex-direction: column;
}
.main-page .main-container__newGame__content__form .divider {
  height: 2px;
  border-radius: 2px;
  background-color: #bfbfbf;
  margin: 16px 16px 0 16px;
}
.main-page .main-container__newGame__content__form .subtitle {
  margin: 8px 0 8px 16px;
}
.main-page .main-container__newGame__content__form .input__container {
  display: flex;
  flex-direction: column;
}
.main-page .main-container__newGame__content__form .input__container > div {
  display: flex;
  margin: 4px 0 0 0;
}
.main-page .main-container__newGame__content__form .input__container__left {
  margin: 0 0 0 16px;
  width: 68px;
  font-size: 14px;
}
.main-page .main-container__newGame__content__form .input__container__right input {
  width: 110px;
}
.main-page .main-container__newGame__content__form .stats-input__container .input__container__right {
  display: flex;
}
.main-page .main-container__newGame__content__form .stats-input__container .input__container__right input {
  width: auto;
}
.main-page .main-container__newGame__content__form .vows-input__container__name ~ .vows-input__container__name {
  margin-top: 12px;
}
.main-page .main-container__newGame__content__confirm button {
  width: 146px;
  margin: 16px 0 0 32px;
  background-color: #004726;
  border: none;
  color: #f0fff8;
  height: 40px;
  border-top: solid 2px #008044;
  border-bottom: solid 2px #000f08;
}
.main-page .main-container__newGame__content__confirm button:focus {
  outline: none;
  border-top: solid 0px #008044;
  border-bottom: solid 0px #000f08;
}

.hide {
  display: none;
}

/*# sourceMappingURL=styles.css.map */
